In [1]:
#Strings : immutable (can not change), sequence of char, can declare in single quotes '' or double quotes "".

In [2]:
#concatenation
str1 = 'I'
str2 = 'love'
str3 = 'python'
str1+str2+str3

'Ilovepython'

In [3]:
"my"+"name"+"is"+"rajeshwari"

'mynameisrajeshwari'

In [4]:
"13"+"30"

'1330'

In [7]:
"""numpy"""+"""pandas"""

'numpypandas'

In [5]:
#Repetition
"rajeshwari"*2

'rajeshwarirajeshwari'

In [6]:
'misti'*4

'mistimistimistimisti'

In [8]:
'1330'*5

'13301330133013301330'

In [9]:
"""yallal07"""*3

'yallal07yallal07yallal07'

In [10]:
#slicing
str = "rajeshwari"
str[1:4]

'aje'

In [11]:
str1 = 'rajeshwari yallal'
str1[:]

'rajeshwari yallal'

In [12]:
str[0:5]

'rajes'

In [15]:
str1[4:13]

'shwari ya'

In [16]:
#indexing
str = "Rajeshwari Yallal"
str[3]

'e'

In [17]:
str[10] #space is there at 10th index, index starts from 0.

' '

In [18]:
str[13]

'l'

In [20]:
str[-6]

'Y'

In [24]:
str[-4:-1]

'lla'

In [27]:
str = "rajeshwari yallal "
str[-7:-1]

'yallal'

In [29]:
#find()
str = 'rajeshwari'
str.find('w')

6

In [30]:
str.find('rajesh')

0

In [35]:
str.find('j')

2

In [36]:
#replace
str = "rajeshwari"
str.replace('r','R')

'RajeshwaRi'

In [38]:
str = 'sonu'
str.replace('sonu','misti')

'misti'

In [39]:
#split
str = 'misti'
str.split('i')

['m', 'st', '']

In [41]:
str = '23155761987587651861766165165176'
str.split('5')

['231', '', '761987', '876', '186176616', '16', '176']

In [42]:
str = 's,o,n,u'
str.split(',')

['s', 'o', 'n', 'u']

In [43]:
#count
str = 'rajeshwari'
str.count('r')

2

In [44]:
str.count('j',0,4)

1

In [46]:
str.count('r',4,9)

1

In [47]:
#upper
str = 'misti'
str.upper()

'MISTI'

In [48]:
str = 'Sonu'
str.upper()

'SONU'

In [49]:
str = 'MISTI'
str.upper()

'MISTI'

In [51]:
#lower
str = 'MiStI'
str.lower()

'misti'

In [52]:
str = 'MISTI'
str.lower()

'misti'

In [54]:
#max
str = 'rajeshwari'
max(str)

'w'

In [55]:
max('Misti')

't'

In [59]:
max('RrAaMNnfhbj')

'r'

In [60]:
max('1767656757')

'7'

In [61]:
#min
min('9866535609')

'0'

In [62]:
min('abctyh')

'a'

In [64]:
min('u55866gbj86yallal')

'5'

In [65]:
#isalpha : returns true or false value, checks only alphabets
str = 'rajeshwari'
str.isalpha()

True

In [69]:
str = 'misti1330'
str.isalpha()

False

In [70]:
str = '9765345'
str.isalpha()

False

In [71]:
str = 'gffhhi665'
str.isalpha()

False

In [72]:
#len : length

str = 'misti'
len(str)

5

In [73]:
len('765wasdhjbv')

11

In [74]:
#reverse the string
str = 'misti'
str[::-1]

'itsim'

In [75]:
str = '765dfjnbvthb67tygh'
str[::-1]

'hgyt76bhtvbnjfd567'