In [1]:
#Sets : mutable (changable), unordered, duplicates are not allowed, defined in curly braces {}.

In [4]:
#creating a set
mySet = {1,2,3,4,5}
print(mySet)

{1, 2, 3, 4, 5}

In [6]:
mySet1 = {1,2,3,3,4,5,6,2,2}
print(mySet1)

{1, 2, 3, 4, 5, 6}

In [8]:
set1 = {1,2,3,4,5,'a','b'}
set2 = {'a','b','c',6,3,7,'e','d'}
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'b', 'a'}
{'c', 3, 'b', 6, 7, 'a', 'd', 'e'}

In [9]:
#union
set1 = {1,2,3,4,5,'a','b'}
set2 = {'a','b','c',6,3,7,'e','d'}
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e'}

In [ ]:
set1 = {1,2,3,4,5,'a','b'}
set2 = {'a','b','c',6,3,7,'e','d'}
set1 | set1

In [10]:
#interaction

set1 = {1,2,3,4,5,'a','b'}
set2 = {'a','b','c',6,3,7,'e','d'}
set1 & set2

{3, 'a', 'b'}

In [11]:
#difference

set1 = {1,2,3,4,5,'a','b'}
set2 = {'a','b','c',6,3,7,'e','d'}
set1 - set2

{1, 2, 4, 5}

In [12]:
set1 = {1,2,3,4,5,'a','b'}
set2 = {'a','b','c',6,3,7,'e','d'}
set2 - set1

{6, 7, 'c', 'd', 'e'}